<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="github-api.ZPM">
    <Module>
      <Name>github-api</Name>
      <Version>1.1.1</Version>
      <Description>Github API for InterSystems Data Platforms</Description>
      <Packaging>module</Packaging>
      <Resource Name="src.cls.GitHub.PKG"/>
    </Module>
  </Document>
</Export>
